<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos ao Click</title>
    <style>
        body {
            text-align: center;
            background-color: lightblue;
        }
        button {
            text-align: center;
            height: 100px;
            width: 300px;
            
        }
        
    </style>
</head>
<body>
    <h1>Eventos ao Clicar</h1>


    <p>exemplo onclick</p>
    <button onclick="eventoClick()">Clique Aqui</button>
    <button onclick="eventoClick2()" >Clique Aqui</button>


    <p>exemplo ondblclick (DoubleClick)</p>
    <button ondblclick="eventoClickDuplo()">Clique Aqui</button>
   

    <script src="../js/click.js"></script>
</body>
</html>