<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos pela ação do Teclado</title>
</head>
<body>
    <h1>Keyboard</h1>

    <input id="text" type="text" onkeypress="tecladoPressionada()" value=" " placeholder="Digite algo e veja o evento keypress" title="Campo para digitar">

    <input id="text2" type="text" onkeydown="tecladoPressionada2()" value = " " placeholder="Digite algo e veja o evento keydown" title="Campo para digitar">

    <input id="text3" type="text" onkeyup="tecladoPressionada3()" value = " " placeholder="Digite algo e veja o evento keyup" title="Campo para digitar">
   


    <script src="../js/teclas.js"></script>
</body>
</html>

