<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Calculadora</title>
</head>
<body>
    <div id="container">
        <!-- topo -->
        <label for="display">Display</label>
        <input id="display" disabled>  </input>

        <button onclick="clearDisplay()" class="item" id="ac"> AC </button>

        <button onclick="not()" class="item" id="maismenos"> +/- </button>
        <button onclick="percentage()" class="item" id="porcentagem"> % </button>

        <!-- números -->
        <button onclick="insertElement('7')" class="item" id="sete"> 7 </button>
        <button onclick="insertElement('8')" class="item" id="oito"> 8 </button>
        <button onclick="insertElement('9')" class="item" id="nove"> 9 </button>
        <button onclick="insertElement('4')" class="item" id="quatro"> 4 </button>
        <button onclick="insertElement('5')" class="item" id="cinco"> 5 </button>
        <button onclick="insertElement('6')" class="item" id="seis"> 6 </button>
        <button onclick="insertElement('1')" class="item" id="um"> 1 </button>
        <button onclick="insertElement('2')" class="item" id="dois"> 2 </button>
        <button onclick="insertElement('3')" class="item" id="tres"> 3 </button>

        <button onclick="removeElement()" class="item" id="remover"> < </button>
        <button onclick="insertElement('0')" class="item" id="zero"> 0 </button>
        <button onclick="insertElement('.')" class="item" id="ponto"> . </button>

        <!-- sidebar -->
        <button onclick="insertElement('/')" class="item" id="divisao"> / </button>
        <button onclick="insertElement('*')" class="item" id="multiplicacao"> * </button>
        <button onclick="insertElement('-')" class="item" id="subtracao"> - </button>
        <button onclick="insertElement('+')" class="item" id="adicao"> + </button>


        <button onclick="calc()" class="item" id="gerarResultado"> = </button>
    </div>

    <script src="../scripts/calculadora.js"></script>
</body>
</html>