*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
   
}

header{
    margin-top: 1rem;
    background-color: rgb(23, 19, 19);
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-radius: 1em;
    margin-right: auto;  
    margin-left: auto;
    width: 55%;
    margin-top: 2rem;
    margin-bottom: 1.8rem;

}



h1{
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: 2.5rem;
    color: white;
}



input{
    width: 60%;
    height: 4em;
    border-radius: 1em;
    border: 2px solid gray;
    padding-left: 0.5em;
    margin-right: 0.5em;
    font-size: 0.9rem;
    margin-bottom: 1em;

}

button{
    width: 21%;
    height: 4.4em;
    border-radius: 1em;
    border: none;
    background-color: rgb(255, 132, 0);
    color: white;
    font-weight: bold;
}


.inicial {
    display: flex;                  
    flex-direction: row;             
    align-items: center;
    background-color: #f0f4f8;   
    border-radius: 1.5em;            
    padding: 1.5rem;                
    width: 53%;                     
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;    
   
}

.clicado {
    display: flex;                  
    flex-direction: row;             
    align-items: center;
    background-color: #aaffb3;   
    border-radius: 1.5em;            
    padding: 1.5rem;                
    width: 53%;                     
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;  
    color: rgb(165, 165, 165);  
    text-decoration: line-through;
   
}

.botao_concluir img,
.botao_editar img,
.botao_excluir img {
    cursor: pointer;           
    transition: transform 0.3s; 
}

.botao_concluir img:hover,
.botao_editar img:hover,
.botao_excluir img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#add{
    cursor: pointer;
}

.botao_concluir {
    flex: 10%;
}

.tarefa {
    font-size: 1.3rem;   
    flex: 74%;  
}

.botao_editar {  
    flex: 8%;  
}

.botao_excluir {  
    flex: 8%;  
}

#hidden {
    visibility: hidden;
}

