<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    
    <link rel="stylesheet" href="../styles/todo.css">
</head>
<body>
    <header>
        <h1>Reminders</h1> 
   
            <input type="text" placeholder="New Reminder" >
            <button class="add">Add</button>
        
    </header>

    <main>
      
            <div id="botao_concluir">
                <img src="../components/circle.svg" alt="">
            </div>

            <div id="tarefa">
                <p> lunch </p>
            </div>

            <div id="botao_editar">
                <img src="../components/edit.svg" alt="">
            </div>

            <div id="botao_excluir">
                <img src="../components/trash.svg" alt="">
            </div>
        
    </main>

    

    <script src="../scripts/todo.js"></script>
</body>
</html>