<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    
    <link rel="stylesheet" href="../styles/todo.css">
</head>
<body>
    <header>
            <h1>Reminders</h1>
            <div id="container">
                <input type="text" placeholder="New Reminder" id="input">
                    <button onclick="addReminder()" type="submit" id="add">Add</button>
            </div>
    </header>

    <main id="contentArea">
      
    </main>

  

    

    <script src="../scripts/todo.js"></script>
</body>
</html>