<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    
    <link rel="stylesheet" href="../styles/todo.css">
</head>
<body>
    <header>
            <h1>Reminders</h1>
            <div id="container">
                <input type="text" placeholder="New Reminder" >
                    <button class="add">Add</button>
            </div>
    </header>

    <main>
        <div id="inicial">
        
                <div class="botao_concluir">
                    <img src="../components/circle.svg" alt="">
                </div>
                <div class="tarefa">
                    <p> lunch </p>
                </div>
                <div class="botao_editar">
                    <img src="../components/edit.svg" alt="">
                </div>
                <div class="botao_excluir">
                    <img src="../components/trash.svg" alt="">
                </div>
        
        </div>
        <div id="clicado">
        
            <div class="botao_concluir">
                <img src="../components/circle-check-big (2).svg" alt="">
            </div>
            <div class="tarefa">
                <p> lunch </p>
            </div>
            <div class="botao_editar" id="hidden">
                <img src="../components/edit.svg" alt="">
            </div>
            <div class="botao_excluir">
                <img src="../components/trash.svg" alt="">
            </div>
        
        </div>
    </main>

    

    <script src="../scripts/todo.js"></script>
</body>
</html>