<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Array JS</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Métodos no Array</h1>

    <h2>Teste - Push</h2>
    <p id="teste1"></p>
    

    <h2>Teste - Pop</h2>
    <p id="teste2"></p>

    <h2>Teste - Join</h2>
    <p id="teste3"></p>

    <h2>Teste - Shift</h2>
    <p id="teste4"></p>

    <h2>Teste - Unshift</h2>
    <p id="teste5"></p>

    <h2>Teste - Delete</h2>
    <p id="teste6"></p>

    <h2>Teste - Splice</h2>
    <p id="teste7"></p>

    <h2>Teste - Concat </h2>
    <p id="teste8"></p>

    <h2>Teste - Slice</h2>
    <p id="teste9"></p>

    <h2>Teste - Sort</h2>
    <p id="teste10"></p>
    <p id="teste11"></p>
    <p id="teste12"></p>

    <h2>Teste - Reverse</h2>
    <p id="teste13"></p>

    <h2>Teste - Includes</h2>
    <p id="teste18"></p>

    <h2>Teste - Maior e Menor número</h2>
    <p id="teste14"></p>
    <p id="teste15"></p>
    <p id="teste16"></p>
    
    <script src="../js/metodos.js"></script>
</body>
</html>