<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estrutura For</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>LAÇO FOR</h1>
    
    <p id="teste"></p>

      <h2>Ano de nascimento</h2>  
    <select name="dataNasc" id="birth"> <option>
         Selecione seu ano de nascimento
    </option> </select>
    
    <select name="Marca" id="carros"> <option>
        Selecione sua marca de carro 
   </option> </select>

   <p id="carros2"></p>
    <script src="../js/for.js"></script>
</body>
</html>